.detail-services,
.detail-services * {
  box-sizing: border-box;
}
.detail-services {
  background: #ffffff;
  height: 4583px;
  position: relative;
}
.rectangle-34 {
  background: #f8f9fa;
  width: 1280px;
  height: 548px;
  position: absolute;
  left: 0px;
  top: 112px;
}
.rectangle-33 {
  background: #ffffff;
  width: 1280px;
  height: 548px;
  position: absolute;
  left: 0px;
  top: 112px;
}
.software-development {
  color: #0f172a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -1.8px;
  font-weight: 700;
  position: absolute;
  left: 224px;
  top: 177px;
  width: 805px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elevate-your-digital-presence-with-our-software-development-services-we-specialize-in-crafting-bespoke-solutions-to-your-business-needs-ensuring-seamless-functionality-and-user-centric-experiences-our-expert-team-employs-the-latest-technologies-to-deliver-scalable-high-performance-software-that-propels-your-business-forward {
  color: #4b5563;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 194px;
  top: 285px;
  width: 865px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key-benefits-section {
  background: #0a192f;
  padding: 96px 64px 96px 64px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 660px;
  overflow: hidden;
}
.background-image-overlay-simulated-with-gradient-pattern-if-url-not-provided-cloud-infrastructure {
  opacity: 0.4;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.our-expertise {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.crafting-powerful-software-solutions-for-modern-businesses {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.innovation-first {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.utilizing-cutting-edge-technologies-to-solve-complex-business-challenges {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.scalable-architecture {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.building-solutions-that-grow-seamlessly-with-your-user-base-and-requirements {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.solutions-detail-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 64px;
  left: 64px;
  top: 1114px;
}
.our-services {
  color: #2563eb;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 672px;
  position: relative;
}
.text {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
  width: 573.17px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container6 {
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.background-border {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: #f3f4f6;
  border-width: 1px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.margin {
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 56px;
  height: 80px;
  position: relative;
}
.background {
  background: #eff6ff;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.heading-3-margin {
  padding: 0px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.web-development {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin2 {
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.responsive-secure-and-high-performance-web-applications-tailored-to-your-goals {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin3 {
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  min-height: 141px;
  position: relative;
}
.horizontal-border {
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 1px 0px 0px 0px;
  padding: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.key-features {
  color: #9ca3af;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.margin4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text2 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 149.98px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text3 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 104.69px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text4 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 99.2px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.mobile-apps-development {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.native-and-cross-platform-mobile-solutions-for-i-os-and-android {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin7 {
  padding: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  min-height: 141px;
  position: relative;
}
.item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.margin8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text5 {
  margin: 0 0 0 0px;
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 137.95px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text6 {
  margin: 0 0 0 0px;
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 130.59px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text7 {
  margin: 0 0 0 0px;
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 95.14px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.geographical-information-system {
  color: #1f2937;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.advanced-spatial-data-visualization-and-analysis-tools-for-informed-decision-making {
  color: #4b5563;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text8 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 112.84px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text9 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 138.42px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text10 {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 124.44px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section {
  background: #0b1120;
  padding: 96px 40px 96px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1845px;
}
.container10 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 1200px;
  position: relative;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text11 {
  color: #9ca3af;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 136.95px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-23 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text12 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  width: 659.19px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container13 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container14 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.overlay {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.heading-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 88px;
}
.text13 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 224.13px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container16 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 128px;
}
.text14 {
  color: #9ca3af;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 235.98px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container17 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text15 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 187.05px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text16 {
  color: #9ca3af;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 257.56px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container18 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text17 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 221.11px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text18 {
  color: #9ca3af;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 238.46px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container19 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text19 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 185.86px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text20 {
  color: #9ca3af;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 249.02px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources-section {
  background: #f5f6f8;
  padding: 96px 40px 96px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2360px;
}
.container20 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 1200px;
  position: relative;
}
.container21 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text21 {
  color: #2563eb;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 115.97px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text22 {
  color: #111827;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 610.14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 672px;
  position: relative;
}
.text23 {
  color: #6b7280;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 613.11px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container23 {
  display: flex;
  flex-direction: column;
  gap: 290px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vertical-line {
  background: #64748b;
  flex-shrink: 0;
  width: 1px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 205px;
  top: 0px;
}
.step-1 {
  padding: 0px 0px 0px 424px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.background-border2 {
  background: #ffffff;
  border-radius: 9999px;
  border-style: solid;
  border-color: #2563eb;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.text24 {
  color: #2563eb;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  width: 17.69px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-border-shadow {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: #f3f4f6;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 314px;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.container24 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-42 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text25 {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 226.64px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container25 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.collecting-problems {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.explore-of-current-solution {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.auditing-existing-solution {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.step-3 {
  padding: 0px 0px 0px 424px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text26 {
  color: #2563eb;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  width: 21.13px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container26 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 237px;
  position: relative;
}
.background-border-shadow2 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: #f3f4f6;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.text27 {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 85.41px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container27 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.flow-system-wireframing {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.system-architecture-design {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.technology-stack-selection {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rapid-prototyping {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.step-4 {
  padding: 0px 424px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 170px;
  position: relative;
}
.image-11 {
  width: 1280px;
  height: 113px;
  position: absolute;
  left: 0px;
  top: 541px;
  object-fit: cover;
  aspect-ratio: 1280/113;
}
.section2 {
  background: #ffffff;
  padding: 96px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: -1px;
  left: 1px;
  top: 3723.88px;
  overflow: hidden;
}
.container28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left-image-content {
  padding: 0px 68px 0px 68px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.it-solutions-consulting {
  width: 100%;
  flex-shrink: 0;
  max-width: 448px;
  position: relative;
  overflow: hidden;
}
.right-text-content {
  margin: 0 0 0 -204px;
  padding: 0px 0px 96px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 689px;
  position: relative;
}
.heading-2-margin {
  padding: 0px 3.77px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.heading-2-get-the-right-it-solutions-from-the-best-it-vendor-consult-with-us-today {
  color: #0f172a;
  text-align: left;
  font-family: "Inter-Thin", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 100;
  position: relative;
  width: 580.23px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin14 {
  padding: 0px 31.06px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text28 {
  color: #475569;
  text-align: left;
  font-family: "Inter-Thin", sans-serif;
  font-size: 18px;
  line-height: 29.25px;
  font-weight: 100;
  position: relative;
  width: 552.94px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: #013d7c;
  border-radius: 9999px;
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button-shadow {
  background: rgba(255, 255, 255, 0);
  border-radius: 9999px;
  flex-shrink: 0;
  position: absolute;
  right: 0.05px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.consult-now {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 800;
  position: relative;
  width: 144px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-2 {
  width: 499px;
  height: 548px;
  position: absolute;
  left: 1px;
  top: 3694px;
  object-fit: cover;
  aspect-ratio: 499/548;
}
.rectangle-22 {
  background: #ffffff;
  width: 1280px;
  height: 36px;
  position: absolute;
  left: -1px;
  top: 3688px;
}
.footer {
  background: #0f172a;
  padding: 48px 0px 48px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4242px;
}
.container29 {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 1280px;
  position: relative;
}
.container30 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container31 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container32 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.container33 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text29 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 144.83px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container34 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 384px;
  position: relative;
}
.text30 {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 361.06px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.company {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-process {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.careers {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.blog {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hello-hexavara-com {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-555-000-0000 {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.silicon-valley-ca {
  color: #94a3b8;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-border2 {
  border-style: solid;
  border-color: #1e293b;
  border-width: 1px 0px 0px 0px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text31 {
  color: #64748b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 286.45px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container35 {
  display: flex;
  flex-direction: row;
  gap: 23.99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text32 {
  color: #64748b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 92.58px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text33 {
  color: #64748b;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 112.77px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-60 {
  position: absolute;
  inset: 0;
}
.background-border3 {
  background: #ffffff;
  border-radius: 9999px;
  border-style: solid;
  border-color: #2563eb;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 615px;
  top: 2942px;
}
._02 {
  color: #2563eb;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-61 {
  position: absolute;
  inset: 0;
}
.background-border4 {
  background: #ffffff;
  border-radius: 9999px;
  border-style: solid;
  border-color: #2563eb;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 616px;
  top: 3452px;
}
._04 {
  color: #2563eb;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-64 {
  position: absolute;
  inset: 0;
}
.background-border-shadow3 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: #f3f4f6;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 226px;
  position: absolute;
  left: 390px;
  top: 3381px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.container36 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text34 {
  color: #111827;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  width: 110.36px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.agile-sprint-planning {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.high-quality-implementation {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rigorous-usability-testing {
  color: #6b7280;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.button-shadow2 {
  background: #111827;
  border-radius: 12px;
  position: absolute;
  right: 552.84px;
  left: 542px;
  bottom: 4091px;
  top: 436px;
}
.consult-now2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 1839.5px);
  width: 114px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container37 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: calc(50% - -45.16px);
  top: calc(50% - 1834.17px);
  overflow: visible;
}
.chat-gpt-image-26-feb-2026-11-24-32-1 {
  width: 207px;
  height: 76px;
  position: absolute;
  left: 53px;
  top: 17px;
  object-fit: cover;
  aspect-ratio: 207/76;
}
.about-us2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 537px;
  top: 45px;
  width: 81px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 651px;
  top: 45px;
  width: 81px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 765px;
  top: 45px;
  width: 81px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  position: absolute;
  left: 423px;
  top: 45px;
  width: 81px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background2 {
  background: #e5e7eb;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 970px;
  top: 39px;
}
.button2 {
  background: #ffffff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.en {
  color: #0f172a;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  position: relative;
  width: 17px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  margin: 0 0 0 -0.01px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.id {
  color: #6b7280;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  position: relative;
  width: 16.44px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.button-shadow3 {
  background: #0f172a;
  border-radius: 8px;
  position: absolute;
  right: 63px;
  left: 1079px;
  bottom: 4508px;
  top: 35px;
}
.start-a-project {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  left: 1090.77px;
  top: 45px;
  width: 114.47px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
